<!DOCTYPE html>
<html lang="id">

<head>

  <meta charset="UTF-8">

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

  <title>Happy Birthday Adek❤️</title>

  <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
    rel="stylesheet">

</head>

<body>

  <!-- INTRO -->
  <div id="intro">

    <h1 class="intro-text">
      In a world full of people...
    </h1>

    <h1 class="intro-sub">
      I found you Adek❤️
    </h1>

    <h1 class="intro-name">
      Andina Putri, S.Gz
    </h1>

  </div>

  <!-- PASSWORD -->
  <div id="password-screen">

    <div class="password-box">

      <h1>🔒 Secret Love</h1>

      <p>
        Masukkan tanggal spesial kita Sayang❤️
      </p>

      <input type="password"
        id="passwordInput"
        placeholder="11-11-2025">

      <button onclick="checkPassword()">

        Masuk ❤️

      </button>

    </div>

  </div>

  <!-- VIDEO -->
  <video autoplay muted loop playsinline id="bg-video">

    <source src="{{ url_for('static', filename='bg.mp4') }}"
      type="video/mp4">

  </video>

  <!-- OVERLAY -->
  <div class="overlay"></div>

  <!-- MUSIC -->
  <audio id="bgMusic"
    autoplay loop>

    <source src="{{ url_for('static', filename='music.mp3') }}"
      type="audio/mpeg">

  </audio>

  <!-- MAIN -->
  <div class="main-content"
    id="mainContent">

    <div class="container">

      <!-- PROFILE -->
      <img src="{{ url_for('static', filename='couple.jpeg') }}"
        class="profile">

      <!-- TITLE -->
      <h1 class="title">

        Happy Birthday My Love, Andina Putri, S.Gz ❤️

      </h1>

      <p class="subtitle">

        Hay Adek,Terima kasih sudah hadir
        dan menjadi alasan bahagia abg ✨

      </p>

      <!-- COUNTDOWN -->
      <div class="card">

        <h2>⏳ Lama Kita Bersama</h2>

        <div id="timer"></div>

      </div>

      <!-- LETTER -->
      <div class="card">

        <h2>💌 Surat Untuk Adek</h2>

        <p class="letter">

Selamat Ulang Tahun Adek,Kesayangan nya abg.
Hari Ini Harusnya jadi hari paling bahagia buat adek, tapi entah kenapa abg malah ikut haru memikirkannya.❤️

Tentang bagaimana adek sudah melewati begitu banyak hal sampai pada dititik ini.
tentang semua lelah yang udah adek lewati dan adek simpan sendiri, Semua tangis dan air mata yang mungkin tidak pernah adek ceritakan, dan semua perjuangan adek yang tidak terlihat di mata orang lain.

abg cuma mau adek tau, terimakasih karna adek masih mampu bertahan sampai hari ini yang sudah sejauh ini.
terimakasih kaerena adek masi kuat meski kadang dunia ga sebaik itu sama adek.
dan terimakasih adek tetap memilih tinggal bersama abg disini.

kalau suatu hari, hidup adek terasa terlalu berat buat adek, peluk kata kata dari abg ini baik baik.
adek pantas untuk di cintai dan disayangi sebesar apapun kekurangan yang adek miliki.
dan selama masih ada abg, abg akan selalu jadi rumah ternyaman untuk adek pulang sayang.

abg tau, mungkin abg bukan orang yang paling sempurna untuk adek dalam menemani hidup adek, tapi percayalah sayang.
abg selalu berusaha untuk jadiorang yang ga akan ninggalin adek dalam keadaan apapun meski dalam keadaan adek yang sulit sekali pun.

ya allah, di umur adek yang baru ini. hilangkan lah semua luka luka lama yang ada di hati adek dan perlahan sembuh.
hati adek jadi lebih tenang, dan semua doa baik yang diam diam adek simpan akan menemukan jalan nya untuk menjadi nyata.

sekali lagi, selamatulang tahun buat adek kesayangan abg Andina Putri.
jangan capek hidup ya sayang, karna abg masih ingin melihat senyum adek itu lebih lama lagi.

        </p>

      </div>

      <!-- GALLERY -->
      <div class="card">

        <h2>📸 Kenangan Kita</h2>

        <div class="gallery">

          <img src="{{ url_for('static', filename='photo1.jpeg') }}">

          <img src="{{ url_for('static', filename='photo2.jpeg') }}">

          <img src="{{ url_for('static', filename='photo3.jpeg') }}">

          <img src="{{ url_for('static', filename='photo4.jpeg') }}">

          <img src="{{ url_for('static', filename='photo5.jpeg') }}">

          <img src="{{ url_for('static', filename='photo6.jpeg') }}">

          <img src="{{ url_for('static', filename='photo7.jpeg') }}">

          <img src="{{ url_for('static', filename='photo8.jpeg') }}">

          <img src="{{ url_for('static', filename='photo9.jpeg') }}">

          <img src="{{ url_for('static', filename='photo10.jpeg') }}">

          <img src="{{ url_for('static', filename='photo11.jpeg') }}">

        </div>

      </div>

      <!-- BUTTON -->
      <button class="love-btn"
        onclick="showLove()">

        Klik Aku, Sayang ❤️

      </button>

      <div id="loveText"></div>

      <!-- FINAL -->
      <div class="final-text">

        Thank You For Existing ❤️

      </div>

    </div>

  </div>

  <!-- MUSIC BUTTON -->
  <div class="music-control">

    <button onclick="toggleMusic()">

      🎵

    </button>

  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
